:root {
  --circle-size: clamp(300px, 60vw, 500px);
  --element-size: 9%;
  --radius: 50%;
  --total-elements: 27;
  --base-angle: calc(360deg / var(--total-elements));
  --white: #ffffff;
  --black: #000000;
  /* --text-color: color-mix(in srgb, var(--black), transparent 00%); */
  --correct: #349f34;
  --wrong: #df4f4f;
  --current: #edf031;
  --brutalism-border: 4px solid var(--black);
  --brutalism-shadow: 10px 10px 0px var(--black);
  --brutalism-shadow-small: 3px 3px 0px var(--black);
  --brutalism-shadow-mobile: 5px 5px 0px var(--black);
  --brutalism-shadow-small-mobile: 2px 2px 0px var(--black);
}

@view-transition {
  navigation: auto;
}

::view-transition-old(root) {
  animation: root-out 0.5s forwards;
}

::view-transition-new(root) {
  animation: enter 1s ease forwards;
}

@keyframes root-out {
  from {
    filter: brightness(1);
  }

  to {
    filter: brightness(0.3) grayscale(1);
  }
}

@keyframes enter {
  from {
    transform: translateY(100%);
    filter: blur(15px);
  }

  to {
    transform: translateY(0%);
    filter: blur(0);
  }
}

body {
  font-family: "Bungee", system-ui;
  display: flex;
  flex-direction: column;
  background-color: #7248d7;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: repeating-linear-gradient(0deg,
      transparent,
      transparent 2px,
      rgba(0, 0, 0, 0.05) 4px,
      rgba(0, 0, 0, 0.05) 4px);
  pointer-events: none;
  z-index: 1;
}

.app-header {
  text-align: center;
  padding: 2rem 1rem;

  h1 {
    margin: 0;
    font-family: "Homemade Apple", cursive;
    font-size: clamp(2rem, 2vw, 4rem);
  }
}

.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
}

.letters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  margin-top: 2rem;
}

.disabled {
  opacity: 0.25;
  pointer-events: none;
}

.correct {
  background-color: var(--correct);
}

.wrong {
  background-color: var(--wrong);
}

.current {
  background-color: var(--current);
}