:root {
  --circle-size: clamp(300px, 60vw, 500px);
  --element-size: 9%;
  --radius: 50%;
  --total-elements: 27;
  --base-angle: calc(360deg / var(--total-elements));
  --white: #dfdfdf;
  --black: #141414;
  --text-color: color-mix(in srgb, var(--black), transparent 20%);
  --correct: #67da67;
  --wrong: #df4f4f;
  --current: #e0b35f;
  --neumorphism-shadow: inset 5px 5px 10px #bdbdbd, inset -5px -5px 10px #ffffff;
  --neumorphism-shadow-hover: inset -3px -3px 10px #bdbdbd,
    inset 3px 4px 10px #ffffff;
  /* --test: 8px 8px 20px #a9a8b7, -8px -8px 20px #fff; */
  --neumorphism: 5px 5px 10px #918793, -5px -5px 10px #fff;
  --blur: blur(4px);
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  color: var(--text-color);
}

.app-header {
  text-align: center;
  padding: 2rem 1rem;

  h1 {
    margin: 0;
    font-family: "Homemade Apple", cursive;
    font-size: clamp(2rem, 2vw, 4rem);
  }
}

.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
}

.letters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  margin-top: 2rem;
}

.disabled {
  opacity: 0.25;
  pointer-events: none;
}

.correct {
  background-color: var(--correct);
}

.wrong {
  background-color: var(--wrong);
}
.current {
  background-color: var(--current);
}
