.answerForm {
  background-color: var(--white);
  padding: 2rem 2.5rem;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  border: var(--brutalism-border);
  box-shadow: var(--brutalism-shadow);
}

@media (width < 600px) {
  .answerForm {
    box-shadow: var(--brutalism-shadow-mobile);
  }
}

@media (width < 600px) {
  .answerForm {
    flex-direction: column;
  }
}

.answerForm form {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  width: 100%;
  z-index: 1;
}

.input {
  width: 100%;
  border: none;
  padding: 1rem;
  height: 100%;
  color: var(--text-color);
  cursor: text;
  font-family: "Bungee", system-ui;
}

.input::placeholder {
  color: #7248d7;
  opacity: 0.75;
}

.inputContainer {
  position: relative;
  width: 100%;
  cursor: text;
  border: var(--brutalism-border);
  box-shadow: var(--brutalism-shadow-small);
  height: 3.5rem;
}

.input:focus {
  outline: 0;
}

.button {
  height: 3.5rem;
  border: 0;
  aspect-ratio: 1;

  transition:
    box-shadow 0.3s,
    scale 0.3s;
  cursor: pointer;
  z-index: 1;
  position: relative;
  border: var(--brutalism-border);
  box-shadow: var(--brutalism-shadow-small);
}

@media (hover: hover) {
  .button:hover:before {
    box-shadow:
      5px 5px 10px #a9a8b7,
      -5px -5px 10px #fff,
      inset -5px -5px 10px #fff,
      inset 5px 5px 10px #a9a8b7;
    transition: 0.3s ease-in;
    transform: scale(1.05);
  }
}

.button:active {
  scale: 0.9;
}