.button {
  height: 100%;
  border: 0;
  padding: 1rem;
  transition:
    box-shadow 0.3s,
    scale 0.3s;
  cursor: pointer;
  position: relative;
  color: var(--text-color);
  border: var(--brutalism-border);
  box-shadow: var(--brutalism-shadow-small);
  font-family: "Bungee", system-ui;
}

@media (width < 600px) {
  .button {
    width: 100%;
  }
}


@media (hover: hover) {
  .button:hover:before {
    box-shadow:
      5px 5px 10px #a9a8b7,
      -5px -5px 10px #fff,
      inset -5px -5px 10px #fff,
      inset 5px 5px 10px #a9a8b7;
    transition: 0.3s ease-in;
    transform: scale(1.05);
  }
}

.button:active {
  scale: 0.9;
}