.dialog {
  border: 0;
  border-radius: 2rem;
  padding: 1rem 2rem;
  background-color: var(--white);
  animation: slide 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  box-shadow: 0px 7px 4px 2px #0000001a;
  width: min(90%, 500px);
  text-align: center;

  @supports (corner-shape: squircle) {
    corner-shape: squircle;
    border-radius: 4rem;
  }
}

.dialog::backdrop {
  backdrop-filter: blur(12px);
}


.actions,.score {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

@keyframes slide {
  from {
    transform: translateY(100%);
    filter: blur(5px);
  }
  to {
    transform: translateY(0%);
    filter: blur(0px);
  }
}
