.dialog {
  padding: 1rem 2rem;
  background-color: var(--white);
  animation: slide 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  width: min(90%, 500px);
  text-align: center;
  border: var(--brutalism-border);
  box-shadow: var(--brutalism-shadow);
}

.dialog::backdrop {
  backdrop-filter: blur(12px);
}

.score {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.actions {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 2rem;
  flex-direction: column;
  gap: 2rem;
}

@keyframes slide {
  from {
    transform: translateY(100%);
    filter: blur(5px);
  }

  to {
    transform: translateY(0%);
    filter: blur(0px);
  }
}