.circle {
  position: relative;
  width: 100%;
  max-width: var(--circle-size);
  aspect-ratio: 1;
  border-radius: 50%;
}

.letter {
  position: absolute;
  width: var(--element-size);
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-weight: bold;
  font-size: clamp(0.9rem, 2vw, 2rem);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: uppercase;
  cursor: default;
  background: var(--white);
  box-shadow: var(--neumorphism-shadow);

  left: calc(
    50% + var(--radius) * cos(var(--angle) - 90deg) - var(--element-size) / 2
  );
  top: calc(
    50% + var(--radius) * sin(var(--angle) - 90deg) - var(--element-size) / 2
  );
}

.letter:nth-child(1) {
  --angle: calc(0 * var(--base-angle));
}
.letter:nth-child(2) {
  --angle: calc(1 * var(--base-angle));
}
.letter:nth-child(3) {
  --angle: calc(2 * var(--base-angle));
}
.letter:nth-child(4) {
  --angle: calc(3 * var(--base-angle));
}
.letter:nth-child(5) {
  --angle: calc(4 * var(--base-angle));
}
.letter:nth-child(6) {
  --angle: calc(5 * var(--base-angle));
}
.letter:nth-child(7) {
  --angle: calc(6 * var(--base-angle));
}
.letter:nth-child(8) {
  --angle: calc(7 * var(--base-angle));
}
.letter:nth-child(9) {
  --angle: calc(8 * var(--base-angle));
}
.letter:nth-child(10) {
  --angle: calc(9 * var(--base-angle));
}
.letter:nth-child(11) {
  --angle: calc(10 * var(--base-angle));
}
.letter:nth-child(12) {
  --angle: calc(11 * var(--base-angle));
}
.letter:nth-child(13) {
  --angle: calc(12 * var(--base-angle));
}
.letter:nth-child(14) {
  --angle: calc(13 * var(--base-angle));
}
.letter:nth-child(15) {
  --angle: calc(14 * var(--base-angle));
}
.letter:nth-child(16) {
  --angle: calc(15 * var(--base-angle));
}
.letter:nth-child(17) {
  --angle: calc(16 * var(--base-angle));
}
.letter:nth-child(18) {
  --angle: calc(17 * var(--base-angle));
}
.letter:nth-child(19) {
  --angle: calc(18 * var(--base-angle));
}
.letter:nth-child(20) {
  --angle: calc(19 * var(--base-angle));
}
.letter:nth-child(21) {
  --angle: calc(20 * var(--base-angle));
}
.letter:nth-child(22) {
  --angle: calc(21 * var(--base-angle));
}
.letter:nth-child(23) {
  --angle: calc(22 * var(--base-angle));
}
.letter:nth-child(24) {
  --angle: calc(23 * var(--base-angle));
}
.letter:nth-child(25) {
  --angle: calc(24 * var(--base-angle));
}
.letter:nth-child(26) {
  --angle: calc(25 * var(--base-angle));
}
.letter:nth-child(27) {
  --angle: calc(26 * var(--base-angle));
}

.correct {
  box-shadow: inset 5px 5px 10px
      color-mix(in srgb, var(--correct), transparent 25%),
    inset -5px -5px 10px color-mix(in srgb, var(--correct), transparent 70%);
}

.incorrect {
  box-shadow: inset 5px 5px 10px
      color-mix(in srgb, var(--wrong), transparent 25%),
    inset -5px -5px 10px color-mix(in srgb, var(--wrong), transparent 70%);
}
.current {
  box-shadow: inset 5px 5px 10px
      color-mix(in srgb, var(--current), transparent 25%),
    inset -5px -5px 10px color-mix(in srgb, var(--current), transparent 70%);
}
