.scoreItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;
  border: var(--brutalism-border);
  box-shadow: var(--brutalism-shadow);
  min-width: 140px;
}

@media (width < 600px) {
  .scoreItem {
    box-shadow: var(--brutalism-shadow-mobile);
  }
}

.label {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.correct {
  background-color: var(--correct);
}

.wrong {
  background-color: var(--wrong);
}