.scoreItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--white);
  position: relative;
}

.scoreItem:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: auto;
  content: " ";
  transition: 0.3s ease-out;
  border-radius: 1rem;
  filter: var(--blur);
  box-shadow: var(--neumorphism);
}

.label {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
