.scoreItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--white);
  box-shadow: var(--neumorphism-shadow);
}

.label {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
