.shareTemplate{
    width: 1200px;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--white);
    position: relative;
}

.label{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: var(--black);
    font-weight: bold;
    opacity: .85;
    width: 350px;
    text-align: center;
    margin-top: 7px;
}

.left{
    position: absolute;
    left: 150px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.right{
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translate(50%, -50%);
}

.scoreItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--white);
  position: relative;
  gap: .5rem;
}

.scoreItem:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: auto;
  content: " ";
  transition: 0.3s ease-out;
  border-radius: 1rem;
  filter: var(--blur);
  box-shadow: var(--neumorphism);
}

.scoreItem span {
    margin-top: 7px;
    color: var(--black);
}


