.startButton {
  border: 0;
  border-radius: 1rem;
  background: var(--white);

  padding: 1.5rem 2rem;
  transition: box-shadow 0.3s, scale 0.3s;
  cursor: pointer;
  font-size: clamp(1.2rem, 3vw, 3rem);
  color: var(--text-color);
  position: relative;
}

.startButton:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: auto;
  content: " ";
  transition: 0.3s ease-out;
  border-radius: 150px;
  filter: var(--blur);
  box-shadow: var(--neumorphism);
}

@media (hover: hover) {
  .startButton:hover:before {
    box-shadow: 8px 8px 20px #a9a8b7, -8px -8px 20px #fff,
      inset -8px -8px 20px #fff, inset 8px 8px 20px #a9a8b7;
    transition: 0.3s ease-in;
    transform: scale(1.05);
  }
}
.time {
  font-family: "DSEG7 Classic", sans-serif;
  font-size: clamp(2rem, 8vw, 4.5rem);
  border-radius: 1rem;
  background: var(--white);

  padding: 1.5rem 2rem;
  animation: enterAnimation 0.5s forwards;
}

.time::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: auto;
  content: " ";
  transition: 0.3s ease-out;
  border-radius: 150px;
  filter: var(--blur);
  box-shadow: 8px 8px 20px #a9a8b7, -8px -8px 20px #fff;
}

.buttonExitAnimation {
  animation: exitAnimation 0.8s forwards;
  pointer-events: none;
}

@keyframes exitAnimation {
  to {
    opacity: 0;
    transform: scale(0.8);
    filter: blur(5px);
  }
}

@keyframes enterAnimation {
  from {
    opacity: 0;
    transform: scale(0.8);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0px);
  }
}
