---
import Layout from "../layouts/Layout.astro";
import Letters from "@/components/app/Letters";
import ScoreItem from "@/components/app/ScoreItem.jsx";
import QuestionDisplay from "@/components/app/QuestionDisplay.jsx";
import AnswerInput from "@/components/app/AnswerInput.jsx";
import SkipButton from "@/components/app/SkipButton.jsx";
import StartButtonAndTimer from "@/components/app/StartButtonAndTimer.jsx";
---

<Layout>
  <header class="app-header"><h1>Machipalabra</h1></header>
  <main>
    <div class="score-container">
      <ScoreItem type="correct" client:load />
      <ScoreItem type="incorrect" client:load />
    </div>

    <div class="letters-container">
      <Letters client:load />
      <div class="start-button-timer-container">
        <StartButtonAndTimer client:load />
      </div>
    </div>
    <div class="questions">
      <QuestionDisplay client:load />
      <AnswerInput client:load />
    </div>
  </main>
  <footer>OLA</footer>
</Layout>

<style>
  main {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    flex: 1;
  }

  .start-button-timer-container {
    position: absolute;
  }

  .questions {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    gap: 1rem;
  }
</style>
