---
import Layout from "../layouts/Layout.astro";
import Letters from "@/components/app/Letters";
---

<Layout>
  <h1>Machipalabra</h1>
  <div class="scoreContainer">
    <div>Aciertos: 1</div>
    <div>Fallos: 3</div>
  </div>
  <div class="app-container">
    <Letters client:load />
  </div>
</Layout>
