---
import Layout from "../layouts/Layout.astro";
import Letters from "@/components/app/Letters";
---

<Layout>
  <header><h1>Machipalabra</h1></header>
  <div class="scoreContainer">
    <div>Aciertos: 1</div>
    <div>Fallos: 3</div>
  </div>
  <div class="letters-container">
    <Letters client:load />
    <div class="time">500</div>
  </div>
</Layout>
