---
import Layout from "../layouts/Layout.astro";
import Letters from "@/components/app/Letters";
import ScoreItem from "@/components/app/ScoreItem.jsx";
import QuestionDisplay from "@/components/app/QuestionDisplay.jsx";
import AnswerInput from "@/components/app/AnswerInput.jsx";
import SkipButton from "@/components/app/SkipButton.jsx";
import StartButton from "@/components/app/StartButton.jsx";
---

<Layout>
  <header class="app-header"><h1>Machipalabra</h1></header>
  <main>
    <div class="score-container">
      <ScoreItem type="correct" client:load />
      <ScoreItem type="incorrect" client:load />
    </div>

    <!-- <StartButton client:load /> -->

    <div class="letters-container">
      <Letters client:load />
      <div class="time">300</div>
    </div>
    <div class="questions">
      <QuestionDisplay client:load />
      <AnswerInput client:load />
    </div>
  </main>
</Layout>

<style>
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
  .questions {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    gap: 1rem;
  }
</style>
