---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";

const title = "Palabras de Veterano";
---

<Layout>
  <div class="background"></div>
  <main>
    <h1>{title}</h1>
    <div class="info">
      <span>27 letras, 27 palabras</span>
      <h2>
        ¿Te crees capaz de acertar todo el rosco?<br />Demuestra tu conocimiento
        de Mínimo de Veterano
      </h2>
    </div>
    <a href="/app">Jugar</a>
  </main>
  <Footer title={title} />
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    gap: 4rem;
  }

  h1 {
    margin: 0;
    font-size: clamp(2.5rem, 6vw, 7rem);
    color: var(--white);
    text-shadow: 4px 4px 0px var(--black);
    text-box: trim-both cap alphabetic;
    text-align: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    font-size: clamp(1rem, 1.25vw, 1.5rem);
  }

  h2 {
    margin: 0;
    max-width: 80ch;
    text-align: center;
    color: var(--white);
    text-shadow: 2px 2px 0px var(--black);
  }

  span {
    background-color: var(--black);
    color: var(--white);
    padding: 0.5rem 1rem;
  }

  a {
    padding: 1rem 2rem;
    background-color: var(--correct);
    border: var(--brutalism-border);
    color: var(--white);
    text-decoration: none;
    font-size: clamp(2rem, 3vw, 5rem);
    box-shadow: var(--brutalism-shadow);
    transition:
      box-shadow 0.3s,
      scale 0.3s;
  }

  @media (hover: hover) {
    a:hover {
      box-shadow: 15px 15px 0px var(--black);
    }
  }

  a:active {
    scale: 0.95;
  }
</style>
