---
import "@fontsource/poppins";
import "@fontsource/homemade-apple";
import "@fontsource/dseg7-classic";
import "@/styles/reset.css";
import "@/styles/main.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Machipalabra</title>
  </head>
  <body>
    <slot />
  </body>
</html>
